.brand-guide

  img
    max-width: 100%
    height: auto
    margin: 2em auto

  .color-table
    border-spacing: 6px
    border-collapse: separate
    margin: 0 -6px

    td + td
      cellpadding: 6px solid #fff

    td
      border: none

      &.brand-color-white
        border: 1px solid #eee

    ul, li
      margin: 0
      padding: 0
      list-style: none
    
    strong
      align: center
      opacity: 0.8
      display: block
      margin-bottom: 0.5ex

    li
      font-size: 0.9em

  hr
    margin: 4em 0

  #markdown-toc
    columns: 30ex
    -moz-columns: 30ex

    li li li li
      display: none

  .media-list
    columns: 30ex
    -moz-columns: 30ex
    margin-bottom: 2em
