.brand-guide

  #page
    margin-bottom: 6em

  img
    max-width: 100%
    height: auto
    margin: 2em auto

  .color-table
    border-spacing: 6px
    border-collapse: separate
    margin: 0 -6px

    td + td
      cellpadding: 6px solid #fff

    td
      border: none
      box-shadow: inset 0 0 0 1px rgba(black, 0.05), inset 8px 8px 8px rgba(black, 0.03), inset 1px 1px 0 1px rgba(white, 0.05)

    ul, li
      margin: 0
      padding: 0
      list-style: none
    
    strong
      align: center
      opacity: 0.8
      display: block
      margin-bottom: 0.5ex

    li
      font-size: 0.9em

    + p
      margin-top: 2em

  hr
    margin: 6em 0

  #markdown-toc
    columns: 30ex
    -moz-columns: 30ex

    li li li li
      display: none

  .media-list
    columns: 30ex
    -moz-columns: 30ex
    margin-bottom: 2em

  .type-example,
  .logo,
  .banner,
  .example,
  .flyer,
  .palette

    text-align: center
    margin-left: auto
    margin-right: auto

  .type-example,
  .logo
    display: block

  .type-example + .type-example,
  .type-example > img + img
    margin-top: 0

  .type-example
    margin-left: 5%
    max-width: 40%
    height: auto
    float: left

  img.logo,
  .logo img
    max-height: 6ex
    width: auto
    margin: -2ex 0 0 4ex
    float: right

    // Squareish logos need to be a bit taller
    &.logo-square
      max-height: 12ex

  img.website,
  .website img,
  img.banner,
  .banner img,
  img.flyer,
  .flyer img
    max-height: 56ex
    width: auto
    float: left

  h1, h2, h3, h4, h5, h6
    clear: both

  h3, h4, h5, h6
    margin-top: 3em

  h5, h6
    color: #888
