%header#branding.masthead(role="banner")
  %section.hgroup
    %h1
      = link_to "/" do
        = image_tag data.site.logo, id: "rhlogo", class: "logo", alt: data.site.name

    %h1#site-title
      Open Source Community

  #access
    = partial :nav, locals: { source: "navigation", nav_class: "nav-pills" }
