-# Red Hat tracking

/ piwik
~ insert_piwik_tracker

/ adobe dpal
:javascript
  if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
        _satellite.pageBottom();
  }
