---
layout: false
---

:ruby
  content = req.env['rack.request.form_hash']

  content = Hash[content.sort_by {|nick| nick}]

  content.each do |author, data|
    # Move description to the end and reformat a bit
    desc = data.delete 'description'
    data['description'] = word_wrap desc.to_s.gsub(/\r\n/, "\n"), 72

    # Scrub empty data
    data.reject!{|k,v| v.to_s.strip.empty?}
  end

  # Prettify YAML
  yaml = content.to_yaml(useblock: true).gsub(/^(\S)/, "\n\\1").gsub(/: \|-/, ": |").strip

  File.write "#{root}/data/authors.yml", yaml

  json = content.to_json

=json
