---
title: Red Hat Community Brand Guide
page_classes: brand-guide
stylesheet: brandguide
---

:ruby
  pages = <<-END
          # Beginning block
          intro
          toc
          common

          # Projects
          fedora
          rdo
          ovirt
          centos
          gluster
          ceph
          atomic

          feedhenry

          social

          # Basic template that can be copied as a starter
          # template
          END

  out = pages.strip.split(/\s*\n+\s*/).map do |part|
    next if part.start_with?('#') # Add simple comment support
    File.read("#{root}/#{source}/brandguide/_#{part}.md")
  end.compact.join "\n\n---\n\n"

-# 'eval' is needed to run the function to output color tables
= markdown_to_html eval('"' + out + '"')
