.mission
  .mission-text
    :markdown

      Red Hat's mission: To be the catalyst in communities of customers,
      contributors, and partners creating better technology **the open
      source way**.

:markdown

  # Placeholder

  This page is currently a placeholder. We'll want to have the blog and
  other stuff here.

  Please use the navigation above for now to see the other pages in
  progress (including some of the blog stuff that will be on this page
  as well).
