---
pageable: true
---

- if defined? page_number && page_number < 2

  .mission
    .mission-text
      :markdown

        Red Hat's mission: To be the catalyst in communities of
        customers, contributors, and partners creating better technology
        **the open source way**.



.row
  .col-md-8

    %section.container.blog-posts

      %h2 Red Hat Community News

      = partial :blog_posts, locals: locals

  .col-md-4

    %h2 Upcoming Events

    =link_to "View all upcoming events&hellip;"
