---
author: bkp
comments: false
date: 2017-08-29 14:47:21+00:00
#layout: page
#slug: knowledge
title: Community Management Knowledge Base
---

:markdown
  # Welcome to the OSAS Knowledge Base

  The Open Source and Standards team is focused on making open source succeed at every level: community management, development, event management... Every aspect of open source can be improved for any project.

  With that mission in mind, this section of our site is dedicated to hosting "evergreen" knowledge articles and links that will guide free and open source software project participants to better practices.

  ## Community Management

  Community Management is a major component of the OSAS team's focus. The #osscommunities series of articles highlights a new aspect of community management, inviting community management experts from within and without Red Hat to lend their expertise and experience!

  ### Encourage New Contributors

  <p><em><a href="https://medium.com/@stephenrwalli/ask-not-what-your-community-can-do-for-you-b26546197a35" target="_blank">Ask Not What Your Community Can Do For You</a></em> by <a href="https://twitter.com/stephenrwalli">Stephen Walli‏</a></p>
  <p><em><a href="http://drbacchus.com/retaining-community-contributors/" target="_blank">Retaining Community Contributors</a></em> and <em><a href="http://drbacchus.com/3-ways-you-find-the-right-type-of-contributor-and-where-to-find-them/" target="_blank">3 ways you find the right contributor and where to find them</a> </em>by <a href="https://twitter.com/rbowen" target="_blank">Rich Bowen</a> </p>
  <p><em><a href="https://blogs.gnome.org/bolsh/2017/04/10/encouraging-new-community-members/" target="_blank">Encouraging new community members</a></em> by <a href="https://twitter.com/nearyd" target="_blank">Dave Neary</a></p>
  <p><em><a href="http://blog.andresgalante.com/design/2015/08/31/adopt-a-deisgner.html" target="_blank">Developers: Adopt a designer</a></em> by <a href="https://twitter.com/andresgalante">Andres Galante‏</a></p>
  <p><em><a href="http://community.redhat.com/blog/2017/04/onboarding-new-contributors-in-the-fedora-project/" target="_blank">Onboarding New Contributors in the Fedora Project</a></em> by <a href="https://twitter.com/bexelbie" target="_blank">Brian Exelbierd</a>, <a href="https://twitter.com/fedora" target="_blank">Fedora</a></p>
  <p><em><a href="http://pulpproject.org/2017/04/12/encouraging-new-contributors/" target="_blank">Encouraging New Contributors</a></em> by Brian Bouterse, <a href="https://twitter.com/pulpproj" target="_blank">Pulp Project</a></p>
  <p><em><a href="http://community.redhat.com/blog/2017/04/encouraging-new-contributors/" target="_blank">Encouraging New Contributors</a></em> by <a href="https://twitter.com/amye" target="_blank">Amye Scavarda</a>, <a href="https://twitter.com/gluster" target="_blank">Gluster</a></p>
  <p><em><a href="http://atuljha.com/blog/2017/04/14/tips-for-attracting-contributors-to-open-source-project/" target="_blank">Tips for Attracting Contributors to Open Source Project</a></em> by <a href="https://twitter.com/koolhead17" target="_blank">Atul Jha</a></p>
  <p><em><a href="http://stormyscorner.com/2017/04/3-ways-open-source-software-communities-could-learn-from-crossfit.html" target="_blank">3 ways open source software communities could learn from Crossfit </a></em> by <a href="https://twitter.com/storming">Stormy Peters</a></p>
  <p><em><a href="https://medium.com/@patternflygirl/community-events-help-recruit-new-contributors-178615409d91" target="_blank">Community events help recruit new contributors</a></em> by <a href="https://twitter.com/patternflygirl" target="_blank">Leslie Hinson</a></p>

  ### Maintaining Existing Community

  <p><em><a href="http://iquaid.org/2017/04/20/dangers-of-in-person-meetings-for-an-existing-community/" target="_blank">Dangers of in-person meetings for an existing community</a></em> by <a href="https://twitter.com/quaid" target="_blank">Karsten Wade</a></p>
  <p><em><a href="https://medium.com/open-source-communities/every-evangelist-of-yesteryear-is-now-a-community-manager-cf74fc18e41d" target="_blank">Every evangelist of yesteryear is now a Community Manager...</a></em> by <a href="https://twitter.com/stephenrwalli" target="_blank">Stephen Walli‏</a></p>
  <p><em><a href="https://medium.com/open-source-communities/maintainer-vs-community-97edc28387ad" target="_blank">Maintainers vs Community</a></em> by <a href="https://twitter.com/mikeal" target="_blank">Mikeal Rogers</a></p>
  <p><em><a href="https://lleksah.wordpress.com/2017/04/14/encouraging-new-contributors-in-lima-peru/" target="_blank">Encouraging New Contributors in Lima, Peru</a></em> by <a href="https://twitter.com/Yulwitter" target="_blank">Julita Inca</a></p>
  <p><em><a href="https://medium.com/p/c9f4271b36d8/" target="_blank">The Low Hanging Fruits of Open Source to Kick-off Your Open Source Contribution Journey!</a></em> by <a href="https://twitter.com/moingshaikh" target="_blank">Moin Shaikh‏</a></p>
  <p><em><a href="http://community.redhat.com/blog/2017/04/contributors-speed-matters/" target="_blank">Growing a Contributor Base: Speed Matters</a></em> by <a href="https://twitter.com/fuzzychef" target="_blank">Josh Berkus</a></p>
  <p><em><a href="http://pulpproject.org/2017/04/19/maintaining-community-clear-goals/" target="_blank">Maintaining Community with Clear Goals"</a></em> by Brian Bouterse of the <a href="https://twitter.com/pulpproj" target="_blank">Pulp Project‏</a></p>
  <p><em><a href="https://blogs.gnome.org/bolsh/2017/04/18/3-things-community-managers-can-learn-from-the-50-state-strategy/" target="_blank">3 things community managers can learn from the 50 state strategy</a></em> by <a href="https://twitter.com/nearyd" target="_blank">Dave Neary‏</a></p>
  <p><em><a href="http://community.redhat.com/blog/2017/04/community-managers-sit-everywhere-should-they/" target="_blank">Community Managers Sit Everywhere. Should They?</a></em> by <a href="https://twitter.com/bexelbie" target="_blank">Brian Exelbierd</a>, <a href="https://twitter.com/fedora" target="_blank">Fedora</a></p>
  <p><em><a href="http://community.redhat.com/blog/2017/04/online-communities-meeting-face-to-face/" target="_blank">Online Communities Meeting Face to Face</a></em> by <a href="https://twitter.com/amye" target="_blank">Amye Scavarda</a></p>
  <p><em><a href="https://medium.com/open-source-communities/its-true-because-you-can-travel-you-have-to-2695bfd83fab" target="_blank">Why do we have to travel so much when we have video conferencing?</a></em> by Stormy Peters</p>
  <p><em><a href="https://medium.com/open-source-communities/10-ways-community-managers-make-sure-projects-are-healthy-122bc32486" target="_blank">10 ways community managers make sure projects are healthy. What do you think?</a></em> by Stormy Peters</p>

  ### Difficult Conversations

  <p><em><a href="https://opensource.com/article/17/4/haters-gonna-hate" target="_blank">Haters gonna hate: 7 ways to deal with criticism</a></em> by <a href="https://twitter.com/monsterjavaguns" target="_blank">Jason van Gumster</a> and <a href="https://twitter.com/funnelfiasco" target="_blank">Ben Cotton</a></p>
  <p><em><a href="https://medium.com/open-source-communities/breaking-down-conflicts-in-open-source-community-be06260d8652" target="_blank">Breaking Down Conflicts In Open Source Community</a></em> by <a href="https://twitter.com/moingshaikh" target="_blank">Moin Shaikh</a></p>
  <p><em><a href="https://medium.com/open-source-communities/create-better-processes-to-avoid-difficult-conversations-d2cc41d6b342" target="_blank">Create better processes to avoid difficult conversations</a></em> by <a href="https://twitter.com/storming" target="_blank">Stormy Peters</a></p>
  <p><em><a href="http://drbacchus.com/what-does-a-community-manager-do/" target="_blank">What Does a Community Manager Do</a></em> by <a href="https://twitter.com/rbowen" target="_blank">Rich Bowen</a></p>
  <p><em><a href="https://blogs.gnome.org/bolsh/2017/04/24/of-humans-and-feelings/" target="_blank">Of humans and feelings</a></em> by <a href="https://twitter.com/nearyd" target="_blank">Dave Neary‏</a></p>

  ### Measuring Success

  <p><em><a href="https://opensource.com/business/16/9/choosing-right-metrics" target="_blank">Choosing the right metrics for your project</a></em> by <a href="https://twitter.com/monsterjavaguns" target="_blank">James Falkner</a></p>
  <p><em><a href="https://community.redhat.com/blog/2014/07/when-metrics-go-wrong/" target="_blank">When Metrics Go Wrong</a></em> by <a href="https://twitter.com/nearyd" target="_blank">Dave Neary‏</a></p>
  <p><em><a href="https://medium.com/open-source-communities/3-important-things-to-consider-when-measuring-your-success-50e21ad82858" target="_blank">3 important things to consider when measuring your success</a></em> by <a href="https://twitter.com/storming" target="_blank">Stormy Peters</a></p>
  <p><em><a href="https://medium.com/open-source-communities/measuring-success-of-your-open-source-community-ef513501389b" target="_blank">Measuring Success of Your Open Source Community</a></em> by <a href="https://twitter.com/moingshaikh" target="_blank">Moin Shaikh</a></p>
