---
author: garrett
comments: false
date: 2013-07-24 14:47:21+00:00
#layout: page
#slug: standards
title: Software Contributions
wordpress_id: 124
---

:markdown
  # Software Contributions

  At Red Hat, we live our mission to be the catalyst in communities of
  contributors, customers, and partners.

  We are a proud contributor to all aspects of the software stack, from
  the operating system and developer toolchain to middleware, the
  desktop, and the cloud. In addition Red Hat supports financially
  a number of Open Source software organizations who help us create and
  maintain better open source software.

= partial :community_group_list, locals: { group_type: "software" }
