---
author: garrett
comments: false
date: 2013-07-24 14:47:21+00:00
#layout: page
#slug: standards
title: Standards Contributions
wordpress_id: 124
---

:markdown
  # Standards Contributions

  At Red Hat, we live our mission to be the catalyst creating better
  technology the open source way. Red Hat contributes to a wide range of
  standardization efforts that define future interoperable technologies.

= partial :community_group_list, locals: { group_type: "standards", hide_secondary: true }
